@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tagesschrift&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.font-tages {
  font-family: "Tagesschrift", sans-serif;
}

html,
body,
.bg-background {
  @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100;
}

html.dark {
  @apply bg-gray-900 text-gray-100;
}

.main-container {
  @apply w-[756px] max-w-full mx-auto lg:px-10 px-5;
}

.text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

.content-note {
  @apply space-y-5;

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  blockquote {
    @apply bg-primary/10 p-4 border-l-4 border-l-primary;
  }

  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal;
  }

  code {
    @apply block bg-gray-800 border border-gray-300 dark:border-gray-700 rounded p-3 text-gray-100;
    font-family: monospace;

    * {
      font-family: monospace;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
